<a href="https://colab.research.google.com/github/somasundar0708/Pizza-insights-project/blob/main/Zomato_Bangalore_analysis_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# 1) Understanding Zomato's Business
sun = pd.read_csv("/content/zomato.csv",
                 engine ='python',  # The C parser throws errors when it encounters unexpected formatting
                 on_bad_lines='skip') # it skips that row instead of crashing


# 2) Total number of restaurants
Total_Restaurants = sun.shape[0] # Rows,,, [1] = Colums
print(Total_Restaurants)

# 3) Distribution by Delivery vs Dine-out
sun['listed_in(type)'].value_counts().head()
#print(distribution)

8353

listed_in(type)
Delivery    4220
Dine-out    2769
Desserts     582
Cafes        342
Buffet       198
Name: count, dtype: int64

In [32]:
# 2) Data Overview & Quality Check
# a) Shape of the dataset
hi = sun.shape
print(hi)

(48283, 17)

In [36]:
# b) Data types of all colums.
hi = sun.dtypes.head() # head = top 5

url             object
address         object
name            object
online_order    object
book_table      object
dtype: object

In [16]:
sun

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8348,https://www.zomato.com/bangalore/tummy-fuel-ja...,"1478/1, 18th Main, 40th Cross, 4th T Block, Ja...",Tummy Fuel,Yes,No,4.2/5,450,+91 9008558558\r\n+91 9845792610,Jayanagar,Cafe,"Sandwiches, Salads, Panipuri, Gol Gappe, Pizza...","Cafe, Beverages, Fast Food",400,"[('Rated 5.0', 'RATED\n Today ordered a quick...",[],Cafes,BTM
8349,https://www.zomato.com/bangalore/bun-town-kora...,"3, 60 Feet Road, 1st Cross Road, Koramangala 5...",Bun Town,Yes,No,3.8/5,22,00 08043753499,Koramangala 5th Block,Cafe,NaN,"Cafe, Bakery",500,"[('Rated 4.0', 'RATED\n The only place In ban...",[],Cafes,BTM
8350,https://www.zomato.com/bangalore/the-cravery-j...,"296, Ground Floor, 5th Phase, 100 ft Outer Rin...",The Cravery,Yes,No,2.6/5,18,+91 8042008011,JP Nagar,Cafe,NaN,Cafe,500,"[('Rated 2.0', 'RATED\n I ordered cheese ball...",[],Cafes,BTM
8351,https://www.zomato.com/bangalore/dhuaan-korama...,"66, First Floor, JNC Road, Koramangala 5th Blo...",Dhuaan,No,No,3.8/5,109,+91 7406434444,Koramangala 5th Block,Cafe,"Paneer Pizza, Oreo Shake","Cafe, Continental",800,"[('Rated 5.0', 'RATED\n Visited with friends ...",[],Cafes,BTM
8352,https://www.zomato.com/bangalore/foodiesthan-h...,"149, 5th Main,6th Sector, HSR, Bangalore",Foodiesthan,Yes,No,3.7/5,59,+91 9845055369,HSR,Cafe,"Masala Chai, Garlic Bread, Oreo Shake","Cafe, Fast Food, North Indian",600,"[('Rated 3.0', ""RATED\n Nice place to eat out...",[],Cafes,BTM

In [33]:

cat_col = ["name","online_order","book_table","location","rest_type","dish_liked","cuisines","listed_in(type)","listed_in(city)"]
sun[cat_col] = sun[cat_col].astype("category")
print(sun[cat_col])
sun[cat_col].dtypes

                       name online_order book_table               location  \
0                     Jalsa          Yes        Yes           Banashankari
1            Spice Elephant          Yes         No           Banashankari
2           San Churro Cafe          Yes         No           Banashankari
3     Addhuri Udupi Bhojana           No         No           Banashankari
4             Grand Village           No         No           Basavanagudi
...                     ...          ...        ...                    ...
8348             Tummy Fuel          Yes         No              Jayanagar
8349               Bun Town          Yes         No  Koramangala 5th Block
8350            The Cravery          Yes         No               JP Nagar
8351                 Dhuaan           No         No  Koramangala 5th Block
8352            Foodiesthan          Yes         No                    HSR

                rest_type                                         dish_liked  \
0           Casual Dining  Pasta, Lunch Buffet, Masala Papad, Paneer Laja...
1           Casual Dining  Momos, Lunch Buffet, Chocolate Nirvana, Thai G...
2     Cafe, Casual Dining  Churros, Cannelloni, Minestrone Soup, Hot Choc...
3             Quick Bites                                        Masala Dosa
4           Casual Dining                                Panipuri, Gol Gappe
...                   ...                                                ...
8348                 Cafe  Sandwiches, Salads, Panipuri, Gol Gappe, Pizza...
8349                 Cafe                                                NaN
8350                 Cafe                                                NaN
8351                 Cafe                           Paneer Pizza, Oreo Shake
8352                 Cafe              Masala Chai, Garlic Bread, Oreo Shake

                            cuisines listed_in(type) listed_in(city)
0     North Indian, Mughlai, Chinese          Buffet    Banashankari
1        Chinese, North Indian, Thai          Buffet    Banashankari
2             Cafe, Mexican, Italian          Buffet    Banashankari
3         South Indian, North Indian          Buffet    Banashankari
4           North Indian, Rajasthani          Buffet    Banashankari
...                              ...             ...             ...
8348      Cafe, Beverages, Fast Food           Cafes             BTM
8349                    Cafe, Bakery           Cafes             BTM
8350                            Cafe           Cafes             BTM
8351               Cafe, Continental           Cafes             BTM
8352   Cafe, Fast Food, North Indian           Cafes             BTM

[8353 rows x 9 columns]

name               category
online_order       category
book_table         category
location           category
rest_type          category
dish_liked         category
cuisines           category
listed_in(type)    category
listed_in(city)    category
dtype: object

In [35]:
# â€¢	Missing value detection
sun.null

AttributeError: 'DataFrame' object has no attribute 'null'